html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* fallback font n background */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f8fb;
  color: #213547;
}